/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* setting variables for colors */
:root {
    --white: #FFFFFF;
    --green: #1F7A8C;
    --grey: #E1E5F2;
    --blue: #BFDBF7;
    --darkblue: #022B3A;
}

/* set the body to flexbox and to always fill the page */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--blue);
}

/* headers will span entire width of page */
header {
    width: 100%;
}

/* hiding non-start page sections */
#questionPage, #submitPage {
    display: none;
}

/* remove underline from links and set text color*/
a {
    text-decoration: none;
    color: var(--darkblue);
}

/* banner with highscores and timer */
.scoreBar {
    display: flex;
    width: 100%;
    color: var(--darkblue);
    background-color: var(--green);
    justify-content: space-between;
    margin-bottom: 50px;
    padding: 15px;
}

/* view high score button and timer */
.scoreBar p {
    background-color: var(--grey);
    padding: 10px;
    border-radius: 5px;
    box-shadow: inset 0px 0px 5px 0px #000000;
}

/* box shadow changes when hovering over the score bar items  */
.scoreBar p:hover {
    box-shadow: 0px 0px 5px 0px #000000;
}

/* set section size */
section {
    width: 40%;
    height: 40%;
}

/* this class is for the main content sections */
.mainCard {
    display: flex;
    background-color: var(--grey);
    height: 100%;
    box-shadow: 5px 5px 20px 0px #000000;
    border-radius: 10px;
    flex-direction: column;
    align-items: center; 
}

/* title/question bar inside the main sections*/
.mainCard h1 {
    background-color: var(--darkblue);
    color: var(--grey);
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 10px;
}

/* div container for the buttons */
.buttonContainer {
    display: flex;
    flex-direction: column;
}

/* style the buttons to follow color palette */
.button {
    margin: 5px 0px;
    padding: 2px 10px;
    background-color: var(--green);
    color: var(--grey);
    border-radius: 3px;
}

/* buttons get slightly lighter when hovered */
.button:hover {
    background-color: #2696ac;
    color: #FFFFFF;
}

/* banner for high score page */
.scoreHeader {
    text-align: center;
    background-color: var(--darkblue);
    color: var(--white);
}

/* this is the list of high scores */
#scoreList {
    margin: 15px;
    width: 25%;
}

/* spreads the initials and score spans in the li's */
#scoreList li {
    display: flex;
    justify-content: space-between;
}

/* list of high scores has alternating background color for easier reading */
#scoreList li:nth-child(odd) {
    background-color: var(--grey);
}

/* mobile styling below */
@media screen and (max-width: 767px) {
    /* score and timer styles */
    .scoreBar {
        padding: 0px;
        margin-bottom: unset;
    }
    .scoreBar p {
        box-shadow: unset;
        border-radius: unset;
        background-color: unset;
        color: var(--grey);
    }
    .scoreBar p:hover {
        box-shadow: unset;
    }
    .scoreBar a {
        color: var(--grey);
    }

    /* main content section styles */
    section {
        width: 100%;
    }
    .mainCard {
        box-shadow: unset;
        border-radius: unset;
    }
    .mainCard h1 {
        border-radius: unset;
    }

}