/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* generic flexbox class */
.row {
    display: flex;
}

/* hiding non-start page sections */
#questionPage, #submitPage {
    display: none;
}

/* remove underline from links */
a {
    text-decoration: none;
}

/* navbar with highscores and timer */
header nav {
    justify-content: space-between;
    margin: 10px;
    padding: 5px;
    border: 3px solid red;
}

/* start page section */
div.row {
    flex-direction: column;
    align-items: center;
}

/* add top/bottom margin to the start page h1, p, button */
div.row > * {
    margin: 5px 0px;
}

/* separate and visualize sections */
section {
    margin: 10px;
    padding: 10px;
    border: 3px solid red;
}
/* testing functionality */
#testDiv {
    border: 3px solid red;
    margin: 5px;
}